footer .footer {
  display: flex;
  justify-content: space-between;
  background-color: #484848;
  color: white; }
  @media screen and (max-width: 450px) {
    footer .footer {
      display: block;
      text-align: center; } }
  footer .footer ul {
    display: flex; }
    @media screen and (max-width: 450px) {
      footer .footer ul {
        display: block;
        margin: 0; } }
    footer .footer ul li {
      list-style: none;
      padding-right: 1em; }
      @media screen and (max-width: 450px) {
        footer .footer ul li {
          padding-top: 0.5em; } }
      footer .footer ul li i {
        padding-right: 0.5em; }

header {
  background: url(../img/car.jpeg);
  background-size: cover;
  text-align: center;
  height: 470px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .logo {
      padding-left: 30px; }
    header nav .menu {
      display: flex;
      list-style: none; }
      header nav .menu li {
        padding-right: 30px;
        color: white; }
      @media screen and (max-width: 768px) {
        header nav .menu {
          display: none; } }
    header nav .burger-button {
      visibility: hidden;
      position: absolute;
      top: 2vh;
      right: 2vh;
      z-index: 9999999999;
      padding: 8px; }
      @media screen and (max-width: 768px) {
        header nav .burger-button {
          visibility: visible; } }
      header nav .burger-button span {
        width: 25px;
        border: 2px solid white;
        background-color: white;
        display: block;
        border-radius: 22px;
        transition: 2s; }
      header nav .burger-button.active span {
        border-color: #050875;
        background-color: #050875; }
      header nav .burger-button.active .burger-top {
        position: absolute;
        top: 8px;
        transform: rotateZ(45deg); }
      header nav .burger-button.active .burger-bottom {
        position: absolute;
        bottom: 8px;
        transform: rotateZ(-45deg); }
      header nav .burger-button.active .burger-middle {
        transform: rotateZ(270deg);
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0); }
      header nav .burger-button .burger-top, header nav .burger-button .burger-bottom {
        position: absolute; }
      header nav .burger-button .burger-top {
        top: 02px; }
      header nav .burger-button .burger-bottom {
        bottom: 02px; }
    header nav .burger-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f9f9f9;
      padding: 5px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      z-index: 99999999; }
    header nav .burger-menu a {
      text-decoration: none;
      padding: 15px 11px;
      font-size: 20px;
      font-weight: 300;
      color: #484848;
      display: block;
      padding: 5px 15px;
      text-align: center;
      white-space: nowrap; }
    header nav .burger-menu li {
      list-style: none; }
  header .title {
    padding: 50px; }
    header .title h1 {
      color: white; }
    header .title h2 {
      color: white; }

.container {
  padding: 20px 30px; }

.content-voiture {
  margin: 10px;
  background: white;
  max-width: 280px;
  box-shadow: 0px 0px 5px 0px #656565;
  border-radius: 10px;
  overflow: hidden; }
  .content-voiture img {
    max-width: 280px;
    width: 100%; }
  .content-voiture .content-info {
    padding: 10px 20px; }
    .content-voiture .content-info .name-car {
      font-weight: 700; }
    .content-voiture .content-info .info-car {
      padding: 10px 0; }
      .content-voiture .content-info .info-car span:not(:last-child) {
        border-right: 1.5px solid #566270;
        padding-right: 10px; }
    .content-voiture .content-info .content-btn {
      text-align: center;
      margin: 10px; }
      .content-voiture .content-info .content-btn button {
        padding: 15px 35px; }
  .content-voiture .fa-check-square {
    color: #46DCA1; }

.row, .column {
  display: flex; }

.column {
  flex-direction: column; }

.row {
  flex-wrap: wrap; }

@media only screen and (min-width: 768px) {
  .col-l-1 {
    width: 8.33%; }

  .col-l-2 {
    width: 16.66%; }

  .col-l-3 {
    width: 24.99%; }

  .col-l-4 {
    width: 33.32%; }

  .col-l-5 {
    width: 41.65%; }

  .col-l-6 {
    width: 50%; }

  .col-l-7 {
    width: 58.33%; }

  .col-l-8 {
    width: 66.66%; }

  .col-l-9 {
    width: 74.99%; }

  .col-l-10 {
    width: 83.32%; }

  .col-l-11 {
    width: 91.65%; }

  .col-l-12 {
    width: 100%; }

  .col-offset-l-1 {
    margin-left: 8.33%; }

  .col-offset-l-2 {
    margin-left: 16.66%; }

  .col-offset-l-3 {
    margin-left: 24.99%; }

  .col-offset-l-4 {
    margin-left: 33.32%; }

  .col-offset-l-5 {
    margin-left: 41.65%; }

  .col-offset-l-6 {
    margin-left: 50%; }

  .col-offset-l-7 {
    margin-left: 58.33%; }

  .col-offset-l-8 {
    margin-left: 66.66%; }

  .col-offset-l-9 {
    margin-left: 74.99%; }

  .col-offset-l-10 {
    margin-left: 83.32%; }

  .col-offset-l-11 {
    margin-left: 91.65%; }

  .col-offset-l-12 {
    margin-left: 100%; } }
@media only screen and (max-width: 800px) and (min-width: 360px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 24.99%; }

  .col-m-4 {
    width: 33.32%; }

  .col-m-5 {
    width: 41.65%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 74.99%; }

  .col-m-10 {
    width: 83.32%; }

  .col-m-11 {
    width: 91.65%; }

  .col-m-12 {
    width: 100%; }

  .col-offset-m-1 {
    margin-left: 8.33%; }

  .col-offset-m-2 {
    margin-left: 16.66%; }

  .col-offset-m-3 {
    margin-left: 24.99%; }

  .col-m-4 {
    margin-left: 33.32%; }

  .col-offset-m-5 {
    margin-left: 41.65%; }

  .col-offset-m-6 {
    margin-left: 50%; }

  .col-offset-m-7 {
    margin-left: 58.33%; }

  .col-offset-m-8 {
    margin-left: 66.66%; }

  .col-offset-m-9 {
    margin-left: 74.99%; }

  .col-offset-m-10 {
    margin-left: 83.32%; }

  .col-offset-m-11 {
    margin-left: 91.65%; }

  .col-offset-m-12 {
    margin-left: 100%; } }
@media only screen and (max-width: 400px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 24.99%; }

  .col-s-4 {
    width: 33.32%; }

  .col-s-5 {
    width: 41.65%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 74.99%; }

  .col-s-10 {
    width: 83.32%; }

  .col-s-11 {
    width: 91.65%; }

  .col-s-12 {
    width: 100%; }

  .col-offset-s-1 {
    margin-left: 8.33%; }

  .col-offset-s-2 {
    margin-left: 16.66%; }

  .col-offset-s-3 {
    margin-left: 24.99%; }

  .col-offset-s-4 {
    margin-left: 33.32%; }

  .col-offset-s-5 {
    margin-left: 41.65%; }

  .col-offset-s-6 {
    margin-left: 50%; }

  .col-offset-s-7 {
    margin-left: 58.33%; }

  .col-offset-s-8 {
    margin-left: 66.66%; }

  .col-offset-s-9 {
    margin-left: 74.99%; }

  .col-offset-s-10 {
    margin-left: 83.32%; }

  .col-offset-s-11 {
    margin-left: 91.65%; }

  .col-offset-s-12 {
    margin-left: 100%; } }
button {
  background-color: #050875;
  border: none;
  color: white;
  padding: 15px 35px;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer; }
  button:hover {
    background: rgba(5, 8, 117, 0.83); }

.presentation .we-are {
  text-align: center; }

h2 {
  text-align: center;
  padding: 0 2em; }

.wrap-content {
  margin: 30px;
  overflow: hidden; }
  .wrap-content .container-we-are {
    background: white; }
    .wrap-content .container-we-are h2 {
      text-align: center;
      padding: 0 1em; }
    @media screen and (min-width: 768px) {
      .wrap-content .container-we-are {
        max-height: 330px; } }
    .wrap-content .container-we-are .wrap-we-are {
      display: flex;
      justify-content: center;
      padding: 0 30px 30px 30px; }
      .wrap-content .container-we-are .wrap-we-are .content-presa {
        text-align: center;
        max-width: 500px;
        overflow: hidden;
        padding: 10px;
        border: 2px solid #eee;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3); }
  .wrap-content .block-img {
    overflow: hidden;
    max-height: 330px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #F1F3F5;
  color: #484848; }

/*# sourceMappingURL=style.css.map */
