$blue: #050875;
$c-blue-clair: #15A2AD;
$bleu: #21CFB9;
$co-blue: #1F4584;
$c-vert: #0C9A8B;
$grey-fonce:#566270;
$white: white;
$gris-back: #F1F3F5;
$c-font: #484848;
$green: #2CB123;
$c-green: #46DCA1;
$c-gris: #e6e6e6;
$c-footer: #2C3E50;